<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="cnnstr" 
         connectionString="Provider=SQLNCLI11;Server=DOLLAR\SQLEXPRESS;Database=STUDENT_MANAGEMENT_1753089;Trusted_Connection=yes;" 
         providerName="System.Data.OleDb"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>